<div class="pricing-header mx-auto">
        <div class="panel-heading">
                <h3 class="panel-title text-center">Coffee List</h3>
              </div>
  <div class="table-responsive">
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
        <tr>
          <th scope="col" class="text-center">Coffee Name</th>
          <th scope="col" class="text-center">Address</th>
          <th scope="col" class="text-center">Owner Coffee</th>
          <th scope="col" class="text-center">Phone</th>
          <th scope="col" class="text-center">Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coffee of coffees" 
        (click)="SelectCoffee(coffee);"
        >
          <td>{{ coffee.name }}</td>
          <td>{{ coffee.address }}</td>
          <td>{{ coffee.ownerCoffee }}</td>
          <td>{{ coffee.phone }}</td>
          <td>{{ coffee.email }}</td>
         <td>
            <a class="nav-link" routerLink="/coffee-seat/{{coffee.$key}}" routerLinkActive="active">
              Go</a>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
